<div layout="column" layout-padding ng-cloak flex>
    <md-toolbar layout="row" layout-align="default center"> <span flex="5"></span>
        <md-card-title-text>Connect new shop</md-card-title-text>
    </md-toolbar>
    <md-content layout="column">
        <md-input-container>
              <label>Select market: </label>
              <md-select ng-model="currentMarket.marketID">
                <md-option><em>None</em></md-option>
                <md-option ng-repeat="market in availableMarkets" ng-value="$index">{{market.name}}</md-option>
              </md-select>
        </md-input-container>
        <md-button class="md-raised md-hue-4" ng-click="connect()">
            <md-tooltip>Connect game shop to your account</md-tooltip>
            Connect!
        </md-button>
    </md-content>
<div>
