<md-card ng-repeat="trans in transactions" flex>
    <md-toolbar class="md-primary md-hue-1" layout="row" layout-align="default center"> <span flex="5"></span>
        <md-card-title-text>Transaction</md-card-title-text>
    </md-toolbar>
    <md-card-content>
        <p> {{trans.name}} - {{trans.description}} </p>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-icon-button">
            <md-icon class="material-icons">&#xE87D;</md-icon>
            <md-tooltip>Like</md-tooltip>
        </md-button>
        <md-button class="md-icon-button" ng-click="showTransDialog($event, trans)">
            <md-icon class="material-icons">&#xE8EE;</md-icon>
            <md-tooltip>View detailed information</md-tooltip>
        </md-button>
        <md-button class="md-icon-button">
            <md-icon class="material-icons">&#xE854;</md-icon>
            <md-tooltip>Share</md-tooltip>
        </md-button>
    </md-card-actions>
</md-card>
