<md-card>
    <md-toolbar class="md-primary md-hue-4" layout="row" layout-align="defaul center">
        <span flex="5"></span>
        <md-card-title-text>Update buy market</md-card-title-text>
    </md-toolbar>
    <md-content layout="column">
        <md-input-container>
          <label>Market name</label>
          <input ng-model="currentMarket.marketName">
        </md-input-container>

        <md-input-container>
          <label>Market type</label>
          <input ng-model="currentMarket.marketType">
        </md-input-container>

        <md-input-container >
          <label>Market taxes</label>
          <input ng-model="currentMarket.taxes">
        </md-input-container>

        <md-input-container>
          <label>Internal currency type: </label>
          <md-select ng-model="currentMarket.currencyAnother">
            <md-option><em>None</em></md-option>
            <md-option ng-repeat="curr in currencies" ng-value="curr.name">{{curr.name}}</md-option>
          </md-select>
        </md-input-container>
        <md-input-container>
          <label>External currency type: </label>
          <md-select ng-model="currentMarket.currencyTypeBuy">
            <md-option><em>None</em></md-option>
            <md-option ng-repeat="curr in currencies" ng-value="curr.name">{{curr.name}}</md-option>
          </md-select>
        </md-input-container>

        <md-input-container ng-model="currentMarket.curBuyings">
            <label>Price</label>
            <input ng-model="currentMarket.newPrice">
        </md-input-container>

        <md-input-container ng-model="currentMarket.newPrice">
            <label>Price</label>
            <input ng-model="currentMarket.newPrice">
        </md-input-container>
    </md-content>

    <md-button class="md-warn md-raised md-hue-2" ng-click="updateMarket()">
        <label>Update market</label>
    </md-button>
</md-card>
