<md-dialog flex>
    <md-toolbar class="md-primary md-hue-4" layout="row" layout-align="defaul center"><span flex="5"></span>
        <md-card-title-text>Buy some {{currentMarket.currencyTypeAnother}}: </md-card-title-text>
    </md-toolbar>
    <md-content>
        <md-input-container name="amount" class="md-icon-float md-block">
            <md-icon class="md-default-theme" class="material-icons">&#xE8D1;</md-icon>
            <label>Enter desired amount</label>
            <input ng-model="offerAmount" ng-required="true">
        </md-input-container>
        <md-input-container name="price" class="md-icon-float md-block">
            <md-icon class="md-default-theme" class="material-icons">&#xE227;</md-icon>
            <label>Define desired price</label>
            <input ng-model="offerPrice" ng-required="true">
        </md-input-container>
        <md-button class="md-warn md-raised md-hue-2" ng-click="sellStuff()">
            Buy some
        </md-button>
    </md-content>
</md-dialog>