<md-card flex>
    <md-toolbar class="md-primary md-hue-4" layout="row" layout-align="defaul center">
        <span flex="5"></span>
        <md-card-title-text>Help</md-card-title-text>
    </md-toolbar>
    <md-card-content layout="column">

        <div layout="row">
            <p>
                Hi!
                Once you connected to KMPM, u should connect your first ever game market here.
                Please, find the <b>BUY (SHOP)</b> button on the side navigation panel and connect one.
                Right after that u'll be able to buy game money using ur <i>PayPal</i> account.
            </p>
        </div>
        <br>
        <div layout="row">
            <p>
                Actually, u'll get 5000 gems everytime with the new game connection. Thank you for using our service!
                U can trade ur <i>in-game</i> money and <i>external in-system game money</i> in markets. To open em,
                click <b>BUY (MARKET)</b> or <b>SELL (MARKET)</b>.
            </p>
        </div>
        <br>
        <div layout="row">
            <p>
                We have two types of markets: <b>Real market</b> and <b>Simulated market</b>. The first type is like...
                Like real market, u can either sell your currencies here or create offers to buy it with specified price.
                Simulated markets are a little bit different. The price is specified by market manager (developer) and its
                exchange rates are influenced by customers' supply and demand. Making offers on simulated markets u r guaranteed to
                get your in-game-money with the best price.
            </p>
        </div>
    </md-card-content>
</md-card>
