<md-content style="height: calc(100vh - 64px); overflow-y: scroll;">
    <md-card ng-repeat="market in markets">
        <md-toolbar class="md-primary md-hue-1" layout="row" layout-align="default center"> <span flex="5"></span>
          <md-card-title-text>{{market.marketName}}</md-card-title-text>
        </md-toolbar>
        <md-card-content>
            <md-card ng-repeat="offer in market.offers">
             <md-card-title md-colors="::{backgroundColor: 'default-primary-200'}">
                <md-card-title-text>
                  <span class="md-headline">{{offer.amount}}, {{offer.price}} each</span>
                  <span class="md-subhead description">Blah-blah-blah-blah</span>
                </md-card-title-text>
              </md-card-title>
            </md-card>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-icon-button" aria-label="Settings" ng-click="gamerSellCtrl.showCreateOfferDialog(market, $event)">
                <md-icon class="md-default-theme" class="material-icons">&#xE146;</md-icon>
                <md-tooltip>Add offer!</md-tooltip>
            </md-button>
        </md-card-actions>
    </md-card>
</md-content>
<p>hai</p>
