<md-content style="height: calc(100vh - 64px); overflow-y: scroll;">
    <div layout="column"> <span flex="5"></span>
        <md-card>
            <md-toolbar class="md-primary md-hue-4" layout="row" layout-align="default center"> <span flex="5"></span>
                <md-card-title-text>Last transaction</md-card-title-text>
            </md-toolbar>
            <md-card-title>
                <md-card-title-text> <span class="md-headline"></span> </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p> {{lastTrans.name}} </p>
                <p> {{lastTrans.description}} </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button" aria-label="Favorite">
                    <md-icon class="material-icons">&#xE87D;</md-icon>
                    <md-tooltip>Like</md-tooltip>
                </md-button>
                <md-button class="md-icon-button" aria-label="Settings" ng-click="showTransDialog($event, lastTrans)">
                    <md-icon class="material-icons">&#xE8EE;</md-icon>
                    <md-tooltip>View detailed information</md-tooltip>
                </md-button>
                <md-button class="md-icon-button" aria-label="Share">
                    <md-icon class="material-icons">&#xE854;</md-icon>
                    <md-tooltip>Share</md-tooltip>
                </md-button>
            </md-card-actions>
        </md-card>
        <span flex="5"></span>
    </div>
    <div layout="column"> <span flex="5"></span>
        <md-card>
            <md-toolbar class="md-primary md-hue-4" layout="row" layout-align="default center"> <span flex="5"></span>
                <md-card-title-text>Account information</md-card-title-text>
            </md-toolbar>
            <div layout="row">
              <md-input-container name="paypal-account" flex>
                  <input ng-model="accHomeCtrl.currentUser.paypal" placeholder="Enter your new paypal account">
              </md-input-container>
              <md-button class="md-warn md-raised md-hue-2" ng-click="accHomeCtrl.updatePaypalAccount()">Update paypal</md-button>
              <md-button class="md-warn md-raised md-hue-2" ng-click="accHomeCtrl.showCurrentuser()">Show user</md-button>
              <md-button class="md-warn md-raised md-hue-2" ng-click="accHomeCtrl.confirm()">Upgrade</md-button>
          </div>
        </md-card> <span flex="5"></span> </div>
</md-content>
