<md-content style="height: calc(100vh - 64px); overflow-y: scroll;">
    <div layout="row">
        <md-card flex ng-hide="!accHomeCtrl.newUser.transactions.length">
            <md-toolbar class="md-primary md-hue-1" layout="row" layout-align="default center">
                <span flex="5"></span>
                <md-card-title-text>Last transaction</md-card-title-text>
            </md-toolbar>
            <md-card-title>
                <md-card-title-text> <span class="md-headline"></span> </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <div class="md-3-line">
                    <div flex layout="column" ng-hide="accHomeCtrl.lastTrans.incomingAmount" class="md-list-item-text">
                         <span flex-offset="5" flex="28" class="md-title">{{accHomeCtrl.lastTrans.amount}} {{accHomeCtrl.lastTrans.currencyType}}</span>
                         <span layout-align="end center" flex-offset="5">{{accHomeCtrl.lastTrans.date | date:'dd-MM-yyyy HH:mm:ss '}}</span>
                    </div>
                    <div flex layout="column" ng-hide="accHomeCtrl.lastTrans.amount" class="md-list-item-text">
                        <span flex-offset="5" flex="28" class="md-title">{{accHomeCtrl.lastTrans.outcomingAmount}} {{accHomeCtrl.lastTrans.outcomingCurrency}}</span>
                        <span flex-offset="5" flex="28" class="md-title">+{{accHomeCtrl.lastTrans.incomingAmount}} {{accHomeCtrl.lastTrans.incomingCurrency}}</span>
                        <span></span>
                        <span layout-align="end center" flex-offset="5">{{accHomeCtrl.lastTrans.date | date:'dd-MM-yyyy HH:mm:ss '}}</span>
                    </div>
                </div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button" href="#/account/history">
                    <md-icon class="material-icons">history</md-icon>
                    <md-tooltip>Show full transactions history</md-tooltip>
                </md-button>
            </md-card-actions>
        </md-card>
        <md-card flex ng-hide="accHomeCtrl.newUser.isDev">
            <md-toolbar layout="row" layout-align="default center" class="md-secondary md-hue-1">
                <span flex="5"></span>
                <md-card-title-text>Wallets</md-card-title-text>
            </md-toolbar>
            <md-list>
                <md-list-item class="md-3-line" layout-align="end center" ng-show="!accHomeCtrl.newUser.wallet.length">
                    <div class="md-list-item-text">
                        U have no money yet. Get some! Click "Buy (SHOP)" and connect your first game!
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
                <md-list-item ng-repeat="w in accHomeCtrl.processedWallets">
                    <md-icon class="material-icons">payment</md-icon>
                    <span>{{w.internalAmount}} {{w.internalCurrency}}</span><br>
                    <md-icon class="material-icons">payment</md-icon>
                    <span>{{w.externalAmount}} {{w.externalCurrency}}</span>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </md-card>
    </div>
    <div layout="column"> <span flex="5"></span>
        <md-card>
            <md-toolbar class="md-primary md-hue-1" layout="row" layout-align="default center"> <span flex="5"></span>
                <md-card-title-text>Account information</md-card-title-text>
            </md-toolbar>
            <div layout="column">
                <md-input-container name="paypal-account" flex>
                  <input ng-model="accHomeCtrl.newUser.paypal" type="email" placeholder="Enter your new paypal account">
                </md-input-container>
                <md-input-container>
                    <input ng-model="accHomeCtrl.newUser.email" placeholder="Enter your new email">
                </md-input-container>
                <md-input-container>
                    <input ng-model="accHomeCtrl.newUser.name" placeholder="Enter your new name">
                </md-input-container>
                <md-input-container>
                    <input ng-model="accHomeCtrl.newUser.surname" placeholder="Enter your new surname">
                </md-input-container>
                <md-input-container>
                    <input ng-model="accHomeCtrl.newUser.description" placeholder="Enter your new descriptions">
                </md-input-container>
            </div>
            <md-button class="md-primary md-raised md-hue-1" ng-click="accHomeCtrl.updateUserAccount()">Update your account</md-button>
        </md-card> <span flex="5"></span>
    </div>
</md-content>
