<md-content style="height: calc(100vh - 64px); overflow-y: scroll;">
    <md-toolbar class="md-secondary md-hue-1" layout="row" layout-align="default center">
        <md-toolbar-tools>
            <span flex="5"></span>
            <md-button class="md-icon-button" aria-label="Settings" ng-click="shopCtrl.showConnectShopDialog()">
                <md-icon class="md-default-theme" class="material-icons">&#xE146;</md-icon>
                <md-tooltip>Connect new shop</md-tooltip>
            </md-button>
        </md-toolbar-tools>
    </md-toolbar>
    <md-card ng-repeat="shop in shops">
      <md-toolbar class="md-primary md-hue-4" layout="row" layout-align="default center"> <span flex="5"></span>
        <md-card-title-text>{{shop.name}}</md-card-title-text>
      </md-toolbar>
        <md-card-content>
            <md-card ng-repeat="offer in shop.offers">
             <md-card-title md-colors="::{backgroundColor: 'default-primary-700'}">
                <md-card-title-text>
                  <span class="md-headline">{{offer.amount}}, {{offer.price}} each</span>
                  <span class="md-subhead description">Currency: {{offer.currencyType}}</span>
                </md-card-title-text>
                <md-button class="md-raised md-secondary" ng-click="transaction(shop, offer, currentUser)">Buy!</md-button>
              </md-card-title>
            </md-card>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-icon-button" aria-label="Favorite">
                <md-icon class="material-icons">&#xE87D;</md-icon>
                <md-tooltip>Like</md-tooltip>
            </md-button>
            <md-button class="md-icon-button" aria-label="Settings">
                <md-icon class="material-icons">&#xE8EE;</md-icon>
                <md-tooltip>View detailed information</md-tooltip>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
                <md-icon class="material-icons">&#xE854;</md-icon>
                <md-tooltip>Share</md-tooltip>
            </md-button>
        </md-card-actions>
    </md-card>
</md-content>
