<md-content>
  <!-- available/connected markets -->
  <md-card ng-repeat="market in markets">
      <md-toolbar>
        {{market.name}}
      </md-toolbar>
       <img ng-src="{{market.imagePath}}" class="md-card-image" alt="Washed Out">
       <md-card-actions layout="row" layout-align="end center">
         <md-button class="md-icon-button" aria-label="Favorite">
           <md-icon></md-icon>
         </md-button>
         <md-button class="md-icon-button" aria-label="Settings">
           <md-icon></md-icon>
         </md-button>
         <md-button class="md-icon-button" aria-label="Share">
           <md-icon></md-icon>
         </md-button>
       </md-card-actions>
  </md-card>
  <!-- the idea is to select market u want - it loads market screen. Here u can see all the shit related to it.
</md-content>
