<md-toolbar layout-align="end center" class="md-primary md-hue-4" id="top" style="z-index: 12">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" ng-click="toggleLeft()">
          <md-icon class="md-default-theme" class="material-icons">&#xE5D2;</md-icon>
          <md-tooltip>Open side panel</md-tooltip>
      </md-button><span>KleManProMos</span>
        <span flex=""></span>
        <md-switch ng-model="theme" ng-true-value="'default'" ng-false-value="'alternative'">
            <md-tooltip>Switch theme</md-tooltip>
        </md-switch>
        <md-button class="md-icon-button" ng-hide="accPageCtrl.userIsDev()" ng-click="showUpgradeDialog($event)">
            <md-icon class="md-default-theme" class="material-icons">&#xE5D2;</md-icon>
            <md-tooltip>Upgrade your account!</md-tooltip>
        </md-button>
        <md-button class="md-icon-button" ng-click="accPageCtrl.logout()">
            <md-icon class="md-default-theme" class="material-icons">&#xE5C9;</md-icon>
        </md-button>
    </div>
</md-toolbar>
<div layout="row" flex>
    <md-sidenav class="md-sidenav-left"
          md-component-id="left"
          md-is-locked-open="$mdMedia('gt-md')"
          md-whiteframe="4"
          flex="20">
          <md-toolbar class="md-primary md-hue-4">
              <div class="md-toolbar-tools">
                  <h2><span>KMPM - the future is now</span></h2><span flex></span>
              </div>
          </md-toolbar>
          <md-list flex>
              <md-list-item ng-repeat="menuItem in sidenavMenuItems">
                  <md-button class="md-button" href="#/account/{{menuItem.url}}" ng-click="toggleLeft()">
                      <p>{{menuItem.name}}</p>
                      <md-tooltip md-direction="right">{{menuItem.tooltip}}</md-tooltip>
                  </md-button>
              </md-list-item>
          </md-list>
    </md-sidenav>
    <div flex-offset-gt-md="20" flex ui-view></div>
</div>
