<md-content style="height: calc(100vh - 64px); overflow-y: scroll;">
    <md-card>
        <md-toolbar layout="row" layout-align="default center" class="md-secondary md-hue-1">
            <span flex="5"></span>
            <md-card-title-text>Transactions history</md-card-title-text>
        </md-toolbar>
        <md-list>
            <md-list-item class="md-3-line" ng-repeat="trans in accHistCtrl.transactions">
                <div class="md-list-item-text">
                    <span class="md-headline">{{trans.amount}} {{trans.currencyType}}</span><br>
                     <span>{{trans.date | date:'dd-MM-yyyy HH:mm:ss '}}</span>
                </div>
                <md-divider></md-divider>
            </md-list-item>

        </md-list>
    </md-card>
</md-content>
