<md-content style="height: calc(100vh - 64px); overflow-y: scroll;">
    <md-card>
        <md-toolbar layout="row" layout-align="default center" class="md-secondary md-hue-1">
            <span flex="5"></span>
            <md-card-title-text>Transactions history</md-card-title-text>
        </md-toolbar>
        <md-list>
            <md-list-item class="md-3-line" ng-repeat="trans in accHistCtrl.processedTransactions">
                <div flex layout="row" ng-hide="trans.incomingAmount" class="md-list-item-text">
                     <span flex-offset="5" flex="28" class="md-title">{{trans.amount}} {{trans.currencyType}}</span>
                     <span flex></span>
                     <span layout-align="end center" flex-offset="5">{{trans.date | date:'dd-MM-yyyy HH:mm:ss '}}</span>
                </div>
                <div flex layout="row" ng-hide="trans.amount" class="md-list-item-text">
                    <span flex-offset="5" flex="28" class="md-title">{{trans.outcomingAmount}} {{trans.outcomingCurrency}}</span>
                    <br>
                    <span flex-offset="5" flex="28" class="md-title">+{{trans.incomingAmount}} {{trans.incomingCurrency}}</span>
                    <span flex></span>
                    <span layout-align="end center" flex-offset="5">{{trans.date | date:'dd-MM-yyyy HH:mm:ss '}}</span>
                </div>
                <md-divider></md-divider>
            </md-list-item>

        </md-list>
    </md-card>
</md-content>
