<md-content style="height: calc(100vh - 64px); overflow-y: scroll;">
    <md-card ng-repeat="trans in transactions">
      <md-toolbar class="md-primary md-hue-4" layout="row" layout-align="default center"> <span flex="5"></span>
        <md-card-title-text>{{trans.name}}</md-card-title-text>
      </md-toolbar>
        <md-card-content>
            <p> {{trans.name}} </p>
            <p> {{trans.description}} </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-icon-button" aria-label="Favorite">
                <md-icon class="material-icons">&#xE87D;</md-icon>
                <md-tooltip>Like</md-tooltip>
            </md-button>
            <md-button class="md-icon-button" aria-label="Settings" ng-click="showTransDialog($event, trans)">
                <md-icon class="material-icons">&#xE8EE;</md-icon>
                <md-tooltip>View detailed information</md-tooltip>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
                <md-icon class="material-icons">&#xE854;</md-icon>
                <md-tooltip>Share</md-tooltip>
            </md-button>
        </md-card-actions>
    </md-card>
</md-content>
